<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Splurge</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<main>
  		<div class="jumbotron">
  			<h1>Splurge</h1>
  			<p>splurge out...</p>
  		</div>
  	</main>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Don't be shy..enter a Splurge!" required>
          <input type="text" class="ghost-button" value="Post">
        </form>
      </fieldset>
    </div>
  </body>
</html>